[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django-push-notifications = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
Django = "*"
dj-database-url = "*"
rollbar = "*"
dj-static = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = '3.7'
