[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django-push-notifications = {editable = true,git = "https://github.com/chatsecure/django-push-notifications.git",ref = "apns2-token-auth"}
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
Django = "*"
dj-database-url = "*"
rollbar = "*"
dj-static = "*"
markdown = "*"
apns2 = "*"

[dev-packages]

[requires]
python_version = '3.7'
