Flask==0.9
Jinja2==2.6
WebOb==1.2.2
Werkzeug==0.8.3
apns==1.1.2
http-parser==0.7.8
nose==1.2.1
paramiko==1.7.7.2
passlib==1.6.1
py-bcrypt==0.2
pycrypto==2.6
pymongo==2.4.1
python-dateutil==2.1
requests==0.14.2
restkit==4.2.0
six==1.2.0
socketpool==0.5.2
wsgiref==0.1.2
