amqp==2.1.4
anyjson==0.3.3
apns2==0.2.1
appdirs==1.4.3
billiard==3.5.0.2
celery==4.0.2
cffi==1.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.2
django-braces==1.11.0
django-push-notifications==1.5.0
djangorestframework==3.6.3
enum34==1.1.6
gunicorn==19.7.1
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.5
ipaddress==1.0.18
keen==0.3.31
kombu==4.0.2
Markdown==2.6.8
packaging==16.8
Padding==0.4
psycopg2==2.7.1
pyasn1==0.2.3
pycparser==2.17
pycrypto==2.6.1
pycryptodome==3.4.5
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
rollbar==0.13.11
six==1.10.0
static3==0.7.0
vine==1.1.3
