amqp==1.4.6
anyjson==0.3.3
apns-client==0.2.1
billiard==3.3.0.20
celery==3.1.18
cffi==0.9.2
cryptography==0.8.2
Django==1.8
django-braces==1.8.0
djangorestframework==3.1.1
enum34==1.0.4
kombu==3.0.26
librabbitmq==1.5.0
oauthlib==0.7.2
psycopg2==2.6
pyasn1==0.1.7
pycparser==2.12
pyOpenSSL==0.15.1
python-dateutil==2.2
pytz==2015.2
six==1.9.0
